@model Sirano.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.products.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
